@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family:"Outfit", system-ui;
    background-color: hsl(217, 54%, 11%);
}

.container {
    width:400px;
    height: auto;
    margin: 15vh auto;
    padding: 35px 35px 40px;     
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:hsl(216, 50%, 16%);
    font-weight: lighter;
}

img {
    border-radius: 20px;
}

h1 {
    padding-top: 33px;
    padding-bottom: 27px;
    color: #fff;
}

h3 {
    display: inline-block;
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 1px;
}

p {
    color: hsl(215, 51%, 70%);
    float: right;
    margin-top: 18px;
    font-size: 20px;
}

.value {
    color: hsl(178, 100%, 50%);  
}

.value::after {
    content: '';
    display: block;
    width: 315%;
    height: 1.5px;
    background-color: hsla(0, 3%, 44%, 0.404);
    margin-top:25px;
    margin-bottom: 25px;
}

.time {
    padding-bottom: 50px;
}

.time > p {
    display: inline-block;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    margin-top: 5px;
    margin-bottom: auto;    
}

.avatar-img {
    width: 50px;
    margin: none;
    display: inline-block;
}

.avatar p {
    float: right;
    margin-right: 50px;
}

.avatar a {
    text-decoration: none;
    color:#fff;
}

